@charset "UTF-8";
/*
ブレークポイント
PC 960px〜
タブレット　560px〜
**/
/*_bace.scss*/
html {
  font-size: 62.5%;
  line-height: 2.5rem;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  color: #707070;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Noto Sans JP", "MyYuGothicM, YuGothic", "-apple-system", BlinkMacSystemFont, "Hiragino kaku Gothic ProN", Meiryo, Verdana, arial, helvetica, sans-serif, MPLUS1p;
  min-width: 350px;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
  border-style: none;
}

a {
  color: #131D34;
  display: block;
  text-decoration: none;
  transition: 0.4s;
}
a:hover {
  text-decoration: none;
}

h1 {
  font-family: "M+1";
  padding-top: 5rem;
  font-weight: bold;
  color: #FFFFFF;
}

h2 {
  font-size: 28px;
  padding-top: 30px;
}

h3 {
  font-size: 24px;
  padding-top: 30px;
}

h4,
h5,
h6 {
  font-size: 20px;
  padding-top: 30px;
}

p {
  font-size: 16px;
}

ol {
  padding: 2rem 0 0 2rem;
}
ol li ol {
  padding-left: 3rem;
}

ul {
  list-style: none;
  padding: 2rem 0 0 2rem;
}
ul li ul li {
  padding-left: 3rem;
}

.f-bace__container {
  display: flex;
}

#shadow {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}
#shadow.go {
  display: inherit;
}

.brockquote {
  margin-top: 3rem;
  background-color: #F5F5F5;
  padding: 3rem 2rem;
  font-size: 1.6rem;
  font-weight: 400;
}
.brockquote > p {
  padding: 5rem 5rem 10rem 5rem;
}
.brockquote > a {
  position: relative;
  padding-left: 6rem;
  margin: 6rem 0;
}
.brockquote > a::before {
  content: "出典元：";
  color: #3C2A10;
  font-size: 1.6rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

table {
  margin-top: 3rem;
}
table > tbody > tr > td {
  width: 66.6666666667vw;
  border: solid 1px #707070;
  font-size: 1.6rem;
  font-weight: 400;
  padding-left: 2rem;
  height: 7rem;
}
table > tbody > tr > td:first-child {
  width: 13.5rem;
}
@media screen and (min-width: 560px) {
  table > tbody > tr > td:first-child {
    width: 21rem;
  }
}
@media screen and (min-width: 960px) {
  table > tbody > tr > td:first-child {
    width: 42rem;
  }
}

code {
  width: 100%;
  display: inline-block;
  background-color: #F5F5F5;
  font-size: 1.6rem;
  color: #3C2A10;
  font-weight: 400;
  padding: 3rem;
}

/**Footer*/
footer {
  height: 150px;
  width: 100vw;
  background-color: #9D8670;
  color: #FFFFFF;
  text-align: center;
  display: flex;
  flex-flow: column;
}
footer > p {
  font-family: "M+1";
  font-size: 20px;
  font-weight: normal;
  padding: 4rem 0 3.4rem 0;
}
footer > small {
  font-family: "M+1";
  font-size: 14px;
  font-weight: normal;
  margin-top: 3rem;
}

.menu-footer-container {
  font-family: "M+1";
  font-size: 20px;
  font-weight: normal;
  color: #FFF;
  margin-top: 3rem;
}
.menu-footer-container a {
  color: #FFF;
}
.menu-footer-container ul {
  text-align: center;
}
.menu-footer-container ul li {
  list-style: none;
  margin-right: 1rem;
  display: inline-block;
}

header {
  height: 217px;
  background-color: #FFF7EF;
  width: 100%;
  text-align: center;
  position: relative;
}
header .l-header {
  min-width: 375px;
  text-align: center;
  flex-direction: column;
  display: inline-block;
}
header .l-header > a {
  font-family: "Roboto";
  font-size: 4rem;
  font-weight: bold;
  color: #707070;
  margin: 2rem;
}
@media screen and (min-width: 560px) {
  header .l-header {
    height: 217px;
    max-width: 100%;
    margin: 0;
  }
  header .l-header > a {
    font-size: 5rem;
  }
}
@media screen and (min-width: 960px) {
  header .l-header {
    height: 217px;
    max-width: 100%;
    display: flex;
    flex-direction: inherit;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  header .l-header > a {
    font-size: 6rem;
    margin-left: 6rem;
  }
}
header .searchform {
  height: 4.6rem;
  width: 32rem;
  margin: 3rem;
  display: inline-block;
  position: relative;
}
header .searchform .inp-hom .but-inp-hom {
  align-items: center;
  height: 4rem;
}
header .searchform::before {
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  background: url("../images/glass.png") no-repeat center center/auto 100%;
  display: inline-block;
  position: absolute;
  top: 11px;
  left: 1.6rem;
}
header .searchform .inp-hom {
  height: 4.6rem;
  width: 23rem;
  border-radius: 10px;
  background-color: #FFFfff;
  padding-left: 5rem;
  border: 1px solid;
  border-color: #707070;
  font-family: "M+1";
  font-size: 150%;
  color: #707070;
}
header .searchform .but-inp-hom {
  height: 4.6rem;
  width: 7rem;
  border-radius: 10px;
  margin-left: 1rem;
  background-color: #F2EDE9;
  border: 1px solid;
  border-color: #707070;
  font-family: "M+1";
  font-size: 150%;
  color: #707070;
}
@media screen and (min-width: 560px) {
  header .searchform {
    height: 4rem;
    width: 54.6rem;
    margin-left: 20px;
    display: inline-block;
    position: relative;
  }
  header .searchform::before {
    content: "";
    width: 2.5rem;
    height: 2.5rem;
    background: url("../images/glass.png") no-repeat center center/auto 100%;
    display: inline-block;
    position: absolute;
    top: 11px;
    left: 6rem;
  }
  header .searchform .inp-hom {
    width: 32.4rem;
    border-radius: 10px;
    background-color: #FFFfff;
  }
  header .searchform .but-inp-hom {
    width: 10.8rem;
    border-radius: 10px;
    margin-left: 1rem;
    background-color: #F2EDE9;
  }
  header .searchform .inp-hom .but-inp-hom {
    align-items: center;
    height: 4rem;
    border: 1px solid;
    border-color: #707070;
    font-family: "M+1";
    font-size: 150%;
    color: #707070;
  }
}
@media screen and (min-width: 960px) {
  header .searchform .searchform {
    height: 4rem;
    width: 54rem;
    margin-left: 20px;
    display: inline-block;
    position: relative;
  }
  header .searchform .searchform::before {
    content: "";
    width: 2.5rem;
    height: 2.5rem;
    background: url("../images/glass.png") no-repeat center center/auto 100%;
    display: inline-block;
    position: absolute;
    top: 11px;
    left: 6rem;
  }
  header .searchform .searchform .inp-hom {
    width: 32.4rem;
    border-radius: 10px;
    background-color: #FFFfff;
  }
  header .searchform .searchform .but-inp-hom {
    width: 10.8rem;
    border-radius: 10px;
    margin-left: 1rem;
    background-color: #F2EDE9;
  }
  header .searchform .inp-hom .but-inp-hom {
    align-items: center;
    height: 4.6rem;
    border: 1px solid;
    border-color: #707070;
    font-family: "M+1";
    font-size: 150%;
    color: #707070;
  }
}

/**Main*/
.l-main {
  width: 100%;
}
@media screen and (min-width: 960px) {
  .l-main {
    position: relative;
  }
}

.l-sidebar {
  background-color: #F2EDE9;
}

/**Nav*/
.l-nav {
  transition: all 300ms 0s ease;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: transparent;
  left: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 10;
}
.l-nav > p {
  display: none;
}
.l-nav__body {
  width: 36rem;
  height: auto;
  background-color: #F2EDE9;
  color: #707070;
  font-family: "M+1";
  padding-top: 3rem;
  overflow-y: auto;
}
.l-nav__body ul {
  font-size: 2.4rem;
  font-weight: bold;
  margin: 2.5rem 0;
  padding: inherit;
}
.l-nav__body li {
  list-style: none;
  font-size: 2rem;
  font-weight: normal;
  margin: 1.5rem 0;
}
.l-nav__body .menu-item-object-category {
  font-weight: bold;
}
.l-nav__body .menu {
  margin-left: 4.5rem;
  font-family: "M+PLUS+1p";
}
.l-nav__body .menu a:link,
.l-nav__body .menu a:visited,
.l-nav__body .menu a:hover,
.l-nav__body .menu a:active {
  color: #707070;
}
.l-nav__body .sub-menu {
  margin: 4rem 2rem;
  font-size: 2.4rem;
}
@media screen and (min-width: 960px) {
  .l-nav {
    width: inherit;
    height: inherit;
    position: static;
    background: inherit;
    display: contents;
  }
  .l-nav > p {
    display: block;
    height: 217px;
    width: 36rem;
    font-size: 3.4rem;
    font-family: "Roboto";
    font-weight: bold;
    padding-left: 3rem;
    padding-top: 10rem;
  }
  .l-nav__body {
    display: block;
    padding-top: 0;
  }
  .l-nav__body ul {
    margin: 0;
  }
  .l-nav__body ul > ul {
    margin: 2.5rem 0;
  }
}
.l-nav.is-open {
  left: 0;
}

/**Map*/
.c-map {
  min-height: 69rem;
  background-color: #000000;
  background-image: url("../images/map.png");
  background-size: cover;
}
.c-map__wrapper {
  position: relative;
  min-height: 69rem;
}
.c-map__wrapper .c-map__textarea {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 4rem;
  font-family: "M+1";
  color: #FFFFFF;
  line-height: 3rem;
  overflow-wrap: anywhere;
}
.c-map__wrapper .c-map__textarea > h1 {
  font-size: 3rem;
  position: relative;
}
.c-map__wrapper .c-map__textarea > h1::after {
  content: "";
  width: 6rem;
  height: 2px;
  display: inline-block;
  background-color: #FFFFFF;
  position: absolute;
  bottom: -3rem;
  left: 0;
}
.c-map__wrapper .c-map__textarea > p {
  padding-top: 5rem;
  font-size: 1.4rem;
  word-break: break-all;
}
.c-map__wrapper .c-map__shade {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 400px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
@media screen and (min-width: 560px) {
  .c-map {
    min-height: 40rem;
  }
  .c-map__wrapper {
    min-height: 40rem;
  }
  .c-map__wrapper .c-map__shade {
    height: 100%;
  }
}
@media screen and (min-width: 960px) {
  .c-map {
    min-height: 65rem;
  }
  .c-map__wrapper {
    max-width: 50rem;
    min-height: 65rem;
  }
  .c-map__wrapper .c-map__textarea > h1::after {
    content: "";
    width: 6rem;
    height: 2px;
    display: inline-block;
    background-color: #FFFFFF;
    position: absolute;
    bottom: -5rem;
    left: 0;
  }
  .c-map__wrapper .c-map__textarea > p {
    padding-top: 10rem;
  }
}

.c-backimg1 {
  background-image: url("../images/takeout.png");
}
.c-backimg2 {
  background-image: url("../images/eatin.png");
}
/*Menu**/
.c-menubutton {
  display: block;
  margin-left: auto;
  padding: 1rem;
}
.c-menubutton > p {
  font-family: "Robot";
  font-size: 2rem;
  color: #707070;
  font-weight: bold;
  padding-top: 0;
}
@media screen and (min-width: 960px) {
  .c-menubutton {
    pointer-events: none;
    display: none;
  }
  .c-menubutton > p {
    font-size: 3.4;
  }
}

/*Card**/
.c-card__wrapper {
  min-width: 33rem;
  margin: 2rem;
  display: grid;
}
.c-card__wrapper .c-card__imgbox > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}
.c-card__wrapper .c-card__inner {
  background-color: #3C2B1C;
  color: #fff;
  font-family: "M+1";
  font-weight: bold;
  padding-left: 1.7rem;
}
.c-card__wrapper .c-card__inner > h2 {
  font-size: 2rem;
  padding-top: 3rem;
}
.c-card__wrapper .c-card__inner > h3 {
  font-size: 1.6rem;
  padding-top: 2.5rem;
}
.c-card__wrapper .c-card__inner > p {
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1rem 7rem 0 0;
}
.c-card__wrapper .button-area {
  height: 5rem;
  margin: 4rem auto;
  text-align: center;
}
.c-card__wrapper .button-area > button {
  width: 16.5rem;
  height: 4.5rem;
  background-color: #fff;
  border-radius: 2rem;
  font-size: 1.6rem;
  color: #707070;
}
@media screen and (min-width: 560px) {
  .c-card__wrapper {
    display: flex;
    margin: 2rem 4rem;
  }
  .c-card__wrapper .c-card__imgbox {
    width: 50%;
  }
  .c-card__wrapper .c-card__inner {
    width: 50%;
  }
  .c-card__wrapper .c-card__inner > p {
    padding: 1rem 5rem 0 0;
  }
}
@media screen and (min-width: 960px) {
  .c-card__wrapper {
    margin: 3rem 10rem;
  }
  .c-card__wrapper .c-card__inner > h2 {
    font-size: 3rem;
    padding-top: 5rem;
  }
  .c-card__wrapper .c-card__inner > h3 {
    font-size: 2.4rem;
    padding-top: 4rem;
  }
  .c-card__wrapper .c-card__inner > p {
    font-size: 1.6rem;
    font-weight: 200;
    padding-top: 2rem;
  }
  .c-card__wrapper .button-area {
    height: 8rem;
    margin: 6rem auto;
    padding-right: 6rem;
  }
  .c-card__wrapper .button-area > button {
    width: 29rem;
    height: 7.6rem;
    border-radius: 10rem;
  }
}

/*img-container**/
.c-imgcontainer {
  min-width: 33rem;
  margin-top: 6rem;
}
.c-imgcontainer > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.c-imgcontainer__wrapper {
  min-width: 33rem;
  display: flex;
  align-items: flex-start;
}
.c-imgcontainer__wrapper .c-imgcontainer__imgbox > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.c-imgcontainer__wrapper .c-imgcontainer__inner {
  color: #3C2A10;
  font-family: "M+1";
  font-weight: bold;
  padding-left: 1.7rem;
}
.c-imgcontainer__wrapper .c-imgcontainer__inner > p {
  font-size: 1.6rem;
  font-weight: 400;
}
.c-imgcontainer .reverse {
  flex-direction: row-reverse;
}
.c-imgcontainer__imgcenter {
  margin: 3rem auto;
}
.c-imgcontainer__imgcenter > img {
  max-width: 26rem;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin: auto;
}
.c-imgcontainer__imglist {
  min-width: 33rem;
  display: grid;
  margin: 0 auto;
  gap: 2rem;
}
.c-imgcontainer__imglist > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media screen and (min-width: 560px) {
  .c-imgcontainer__imgcenter {
    margin: 6rem auto;
  }
  .c-imgcontainer__imgcenter > img {
    max-width: 58rem;
    height: 100%;
  }
  .c-imgcontainer__imglist {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 960px) {
  .c-imgcontainer__imglist {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

figure.wp-container-5 {
  min-width: 33rem;
  display: grid;
  margin: 0 auto;
  gap: 2rem;
}
@media screen and (min-width: 560px) {
  figure.wp-container-5 {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 960px) {
  figure.wp-container-5 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.wp-block-gallery.has-nested-images figure.wp-block-image:not(#individual-image) {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media screen and (min-width: 600px) {
  .wp-block-gallery.has-nested-images figure.wp-block-image:not(#individual-image) {
    width: 100% !important;
  }
}
@media screen and (min-width: 960px) {
  .wp-block-gallery.has-nested-images figure.wp-block-image:not(#individual-image) {
    width: 100%;
  }
}

figure.wp-container-4 {
  min-width: 33rem;
  display: grid;
  margin: 0 auto;
  gap: 2rem;
}
@media screen and (min-width: 560px) {
  figure.wp-container-4 {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 960px) {
  figure.wp-container-4 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 765px) {
  .p-mainblock__wrapper {
    display: flex;
  }
}
@media screen and (min-width: 960px) {
  .p-mainblock__wrapper {
    margin: 120px 110px 120px 30px;
  }
}

.p-mainblock {
  min-height: 64rem;
  width: auto;
  margin: 20px;
  padding: 0 15px;
  background-size: cover;
  background-position: center center;
}
.p-mainblock > h1 {
  padding-top: 5rem;
  font-size: 41px;
  font-weight: bold;
  color: #ffffff;
  position: relative;
}
.p-mainblock > h1::after {
  content: "";
  width: 5rem;
  height: 4px;
  display: inline-block;
  background-color: #FFFFFF;
  position: absolute;
  bottom: -5rem;
  left: 0;
}
.p-mainblock__a-wrapper {
  height: 64rem;
  padding-bottom: 15px;
  display: grid;
  align-content: end;
  gap: 15px;
  word-break: break-all;
}
.p-mainblock__a-wrapper article {
  background-color: rgba(255, 255, 255, 0.7);
  min-height: 120px;
  padding: 7px 10px 15px 10px;
}
@media screen and (min-width: 560px) {
  .p-mainblock__a-wrapper article {
    padding: 7px 15px 15px 15px;
  }
}
@media screen and (min-width: 960px) {
  .p-mainblock__a-wrapper article {
    padding: 12px 20px 20px 20px;
  }
}
.p-mainblock__a-wrapper article h2 {
  font-size: 2.2rem;
  font-weight: bold;
  color: #3C2A10;
  padding-top: inherit;
}
.p-mainblock__a-wrapper article p {
  font-size: 1.6rem;
  font-weight: normal;
  color: #3C2A10;
  padding-top: 3px;
}
@media screen and (min-width: 960px) {
  .p-mainblock__a-wrapper article p {
    padding-top: 9px;
  }
}
@media screen and (min-width: 560px) {
  .p-mainblock {
    margin: 40px;
  }
}
@media screen and (min-width: 960px) {
  .p-mainblock {
    margin: 0 0 0 80px;
  }
}
@media screen and (min-width: 600px) {
  .p-mainblock {
    flex: 1;
  }
}

/*Archive main area**/
.p-archive {
  background-color: #FFF;
}
.p-archive__intro {
  margin: 3rem 2rem;
}
.p-archive__intro > h1 {
  color: #3C2A10;
  font-size: 2.8rem;
  font-family: "M+1";
  font-weight: bold;
  padding: 3rem 0 3rem 2rem;
}
.p-archive__intro > p {
  margin: 0 2rem;
}
@media screen and (min-width: 560px) {
  .p-archive__intro {
    margin: 3.6rem 4.2rem 2.5rem 4.2rem;
  }
  .p-archive__intro > p {
    margin: 0 4rem 0 2rem;
  }
}
@media screen and (min-width: 960px) {
  .p-archive__intro {
    margin: 6rem 10rem 7rem 10rem;
  }
  .p-archive__intro > h1 {
    padding: 3rem 0 3rem 4rem;
  }
  .p-archive__intro > p {
    margin: 0 10rem 0 4rem;
  }
}
.p-archive__404 {
  margin: 0 0 5rem 3rem;
}
@media screen and (min-width: 560px) {
  .p-archive__404 {
    margin: 0 0 5rem 4.2rem;
  }
}
@media screen and (min-width: 960px) {
  .p-archive__404 {
    margin: 0 0 5rem 10rem;
  }
}

.p-maintop {
  height: 230px;
  background-image: url("../images/tophead_full.png");
  background-size: cover;
  background-attachment: scroll;
}
.p-maintop__wrapper {
  height: 230px;
  display: block;
  margin-top: -1rem;
}
.p-maintop__wrapper > p {
  line-height: 230px;
  color: #fff;
  position: relative;
  margin: auto 0;
  margin-left: 25px;
  font-size: 3.6rem;
  font-family: "M+1";
  font-weight: bold;
}
.p-maintop__wrapper .lower-p {
  line-height: 3rem;
  padding-top: 100px;
}
.p-maintop__wrapper .lower-p > small {
  font-size: 1.6rem;
}
@media screen and (min-width: 560px) {
  .p-maintop {
    height: 280px;
  }
  .p-maintop__wrapper {
    height: 280px;
    margin-top: -1rem;
  }
  .p-maintop__wrapper p {
    display: none;
  }
}
@media screen and (min-width: 960px) {
  .p-maintop {
    height: 50rem;
  }
  .p-maintop__wrapper {
    height: 50rem;
    margin-top: -1rem;
  }
  .p-maintop__wrapper > p {
    line-height: 50rem;
    display: inherit;
    font-size: 4rem;
    margin: auto 0;
    margin-left: 86px;
  }
}

/*archivetop**/
.p-archivetop {
  height: 230px;
  background-image: url("../images/takeout.png");
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  position: relative;
}
.p-archivetop__shade {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.p-archivetop__wrapper {
  height: 230px;
  display: block;
  margin-top: -1rem;
}
.p-archivetop__wrapper > p {
  color: #fff;
  position: relative;
  margin-left: 25px;
  padding-top: 10rem;
  font-size: 3.6rem;
  font-family: "M+1";
  font-weight: bold;
}
.p-archivetop__wrapper > p > small {
  font-size: 1.6rem;
}
@media screen and (min-width: 560px) {
  .p-archivetop__wrapper > p {
    display: flex;
  }
  .p-archivetop__wrapper > p > small {
    height: 3.6rem;
    padding: 0.5rem 2rem;
  }
}

.p-pagetop {
  height: 220px;
}
.p-pagetop__wrapper {
  height: 220px;
  display: block;
  margin-top: -1rem;
  position: relative;
}
.p-pagetop__wrapper > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}
.p-pagetop__wrapper > h1 {
  color: #FFF;
  font-size: 3.6rem;
  font-family: "M+1";
  font-weight: bold;
  padding: 10rem 0 0 3rem;
  position: absolute;
}
@media screen and (min-width: 560px) {
  .p-pagetop {
    height: 50rem;
  }
  .p-pagetop__wrapper {
    height: 50rem;
  }
  .p-pagetop__wrapper > h1 {
    line-height: 50rem;
    padding: 0;
    padding: auto 0;
    padding-left: 8rem;
    font-size: 6rem;
  }
}
@media screen and (min-width: 960px) {
  .p-pagetop {
    height: 50rem;
  }
  .p-pagetop__wrapper {
    height: 50rem;
    margin-top: -1rem;
  }
  .p-pagetop__wrapper > p {
    line-height: 50rem;
    display: inherit;
    font-size: 4rem;
    margin: auto 0;
    margin-left: 86px;
  }
}

.p-single {
  background-color: #fff;
}
.p-single__wrapper {
  margin: 0 2rem;
}
.p-single__intro > h1 {
  color: #3C2A10;
  font-size: 2.8rem;
  font-family: "M+1";
  font-weight: bold;
}
.p-single__intro > h2 {
  font-size: 2.8rem;
  padding-top: 3rem;
}
.p-single__intro > h3 {
  font-size: 2.4rem;
  padding-top: 3rem;
}
.p-single__intro > h4,
.p-single__intro > h5,
.p-single__intro > h6 {
  font-size: 2rem;
  padding-top: 3rem;
}
.p-single__intro > p {
  font-size: 1.6rem;
  padding-top: 3rem;
}
.p-single__brockquote {
  margin-top: 3rem;
  background-color: #F5F5F5;
  padding: 3rem 2rem;
  font-size: 1.6rem;
  font-weight: 400;
}
.p-single__brockquote .inner {
  margin-top: 6rem;
}
.p-single__brockquote .inner > a {
  position: relative;
  padding-left: 6rem;
  margin: 6rem 0;
}
.p-single__brockquote .inner > a::before {
  content: "出典元：";
  color: #3C2A10;
  font-size: 1.6rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.p-single__brockquote > figcaption {
  white-space: nowrap;
}
.p-single .bold {
  font-weight: bold;
}
@media screen and (min-width: 560px) {
  .p-single__wrapper {
    margin: 6rem 10rem;
  }
}

.wp-block-quote {
  margin-top: 3rem;
  background-color: #F5F5F5;
  padding: 3rem 2rem;
  font-size: 1.6rem;
  font-weight: 400;
}
.wp-block-quote > p {
  padding: 5rem 5rem 10rem 5rem;
}
.wp-block-quote > cite > a {
  position: relative;
  padding-left: 6rem;
}
.wp-block-quote > cite > a::before {
  content: "出典元：";
  color: #3C2A10;
  font-size: 1.6rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

/*Pagenation**/
.wp-pagenavi {
  display: flex;
  justify-content: space-between;
  margin: 3rem 1rem;
}
.wp-pagenavi a,
.wp-pagenavi span {
  font-size: 1.6rem;
  font-weight: 400;
  color: #707070;
  border: solid 1px #707070;
  list-style: none;
  line-height: 35px;
  padding: 0 12px;
  margin: 0 10px;
}
.wp-pagenavi a:hover,
.wp-pagenavi span.current {
  color: #FFF;
  background-color: #3C2B1C;
  border-color: #3C2B1C;
}

a.nextpostslink,
a.previouspostslink {
  border: none;
}

a.page,
span.current,
span.pages {
  display: none;
}

@media screen and (min-width: 560px) {
  .wp-pagenavi {
    display: flex;
    justify-content: center;
    margin: 10rem 2rem 3rem 2rem;
  }
  .wp-pagenavi a,
.wp-pagenavi span {
    font-size: 1.6rem;
    font-weight: 400;
    color: #707070;
    border: solid 1px #707070;
    list-style: none;
  }
  .wp-pagenavi a:hover,
.wp-pagenavi span.current {
    color: #FFF;
    background-color: #3C2B1C;
    border-color: #3C2B1C;
  }
  .wp-pagenavi .current,
.wp-pagenavi .larger,
.wp-pagenavi .smaller {
    height: 35px;
    width: 35px;
    margin: 0 10px;
  }
  a.page,
span.current,
span.pages {
    display: inherit;
  }
  span.pages,
a.nextpostslink,
a.previouspostslink {
    border: none;
  }
}
@media screen and (min-width: 960px) {
  .wp-pagenavi {
    margin: 15rem 2rem 6rem 2rem;
  }
}
.u-list {
  font-size: 1.6rem;
  font-family: "M+1";
  font-weight: 400;
  padding-left: 2rem;
}
.u-list__1 {
  list-style-type: decimal;
  margin: 3rem 0;
}
.u-list__1 > ul {
  list-style-type: decimal;
  margin: 2rem 0;
}
.u-list__2 {
  list-style: none;
  margin: 3rem 0;
}
.u-list__2 > ul {
  list-style: none;
  margin: 2rem 0;
}
.u-list__lower {
  padding-left: 1rem;
}

/*Code**/
.u-code {
  width: 100%;
  display: inline-block;
  background-color: #F5F5F5;
  font-size: 1.6rem;
  color: #3C2A10;
  font-weight: 400;
}

/*table area**/
.u-table {
  border-collapse: collapse;
  margin-top: 3rem;
}
.u-table > tbody > tr > th {
  height: 7rem;
  width: 33.3333333333vw;
  border: solid 1px #707070;
  font-size: 1.6rem;
  font-weight: 400;
}
.u-table > tbody > tr > td {
  width: 66.6666666667vw;
  border: solid 1px #707070;
  font-size: 1.6rem;
  font-weight: 400;
  padding-left: 2rem;
}

.simple {
  margin: 3rem 0;
  padding: 0;
}
.simple > button {
  width: 33rem;
  height: 8rem;
  border: solid 1px #707070;
  border-radius: 10px;
  background-color: #F2EDE9;
  padding: 0;
  font-size: 1.6rem;
}

.wp-block-button {
  width: 33rem;
  height: 8rem;
}
.wp-block-button__link {
  width: 33rem;
  height: 8rem;
  color: #3C2A10;
  border: solid 1px #707070;
  border-radius: 10px;
  background-color: #F2EDE9;
  padding: 0;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/**Foundation*/
/**Layout*/
/**Object*/
/**Component*/
/**Project*/
/**Utility*/
/*# sourceMappingURL=style.css.map */