/**Footer*/

footer {
    height: 150px;
    width: 100vw;
    background-color: #9D8670;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-flow: column;

    >p {
        font-family: "M+1";
        font-size: 20px;
        font-weight: normal;
        padding: 4rem 0 3.4rem 0;
    }

    >small {
        font-family: "M+1";
        font-size: 14px;
        font-weight: normal;
        margin-top: 3rem;
    }
}

.menu-footer-container {
    font-family: "M+1";
    font-size: 20px;
    font-weight: normal;
    color: #FFF;
    margin-top: 3rem;

    a {
        color: #FFF;
    }

    ul {
        text-align: center;

        li {
            list-style: none;
            margin-right: 1rem;
            display: inline-block;
        }

    }

}