//Header//
header {
    height: 217px;
    background-color: #FFF7EF;
    width: 100%;
    text-align: center;
    position: relative;

    .l-header {
        min-width: 375px;
        text-align: center;
        flex-direction: column;
        display: inline-block;

        >a {
            font-family: "Roboto";
            font-size: 4rem;
            font-weight: bold;
            color: #707070;
            margin: 2rem;
        }

        @media screen and(min-width:560px) {
            height: 217px;
            max-width: 100%;
            margin: 0;

            >a {
                font-size: 5rem;
            }
        }

        @media screen and(min-width:960px) {
            height: 217px;
            max-width: 100%;
            display: flex;
            flex-direction: inherit;
            justify-content: space-between;
            align-items: center;
            margin: 0;

            >a {
                font-size: 6rem;
                margin-left: 6rem;
            }
        }
    }

    .searchform {
        height: 4.6rem;
        width: 32rem;
        margin: 3rem;
        display: inline-block;
        position: relative;

        .inp-hom .but-inp-hom {
            align-items: center;
            height: 4rem;
        }

        &::before {
            content: "";
            width: 2.4rem;
            height: 2.4rem;
            background: url("../images/glass.png") no-repeat center center/ auto 100%;
            display: inline-block;
            position: absolute;
            top: 11px;
            left: 1.6rem;
        }

        .inp-hom {
            height: 4.6rem;
            width: 23rem;
            border-radius: 10px;
            background-color: #FFFfff;
            padding-left: 1.2rem;
            border: 1px solid;
            border-color: #707070;
            font-family: "M+1";
            font-size: 150%;
            color: #707070;
        }

        .but-inp-hom {
            height: 4.6rem;
            width: 7rem;
            border-radius: 10px;
            margin-left: 1rem;
            background-color: #F2EDE9;
            border: 1px solid;
            border-color: #707070;
            font-family: "M+1";
            font-size: 150%;
            color: #707070;
        }

        @media screen and(min-width:560px) {

            height: 4rem;
            width: 54.6rem;
            margin-left: 20px;
            display: inline-block;
            position: relative;

            &::before {
                content: "";
                width: 2.5rem;
                height: 2.5rem;
                background: url("../images/glass.png") no-repeat center center/ auto 100%;
                display: inline-block;
                position: absolute;
                top: 11px;
                left: 6rem;
            }

            .inp-hom {
                width: 32.4rem;
                border-radius: 10px;
                background-color: #FFFfff;
            }

            .but-inp-hom {
                width: 10.8rem;
                border-radius: 10px;
                margin-left: 1rem;
                background-color: #F2EDE9;
            }

            .inp-hom .but-inp-hom {
                align-items: center;
                height: 4rem;
                border: 1px solid;
                border-color: #707070;
                font-family: "M+1";
                font-size: 150%;
                color: #707070;
            }
        }

        @media screen and(min-width:960px) {
            .searchform {
                height: 4rem;
                width: 54rem;
                margin-left: 20px;
                display: inline-block;
                position: relative;

                &::before {
                    content: "";
                    width: 2.5rem;
                    height: 2.5rem;
                    background: url("../images/glass.png") no-repeat center center/ auto 100%;
                    display: inline-block;
                    position: absolute;
                    top: 11px;
                    left: 6rem;
                }

                .inp-hom {
                    width: 32.4rem;
                    border-radius: 10px;
                    background-color: #FFFfff;
                }


                .but-inp-hom {
                    width: 10.8rem;
                    border-radius: 10px;
                    margin-left: 1rem;
                    background-color: #F2EDE9;
                }

            }

            .inp-hom .but-inp-hom {
                align-items: center;
                height: 4.6rem;
                border: 1px solid;
                border-color: #707070;
                font-family: "M+1";
                font-size: 150%;
                color: #707070;
            }

        }


    }
}