/*
Default style for WP-PageNavi plugin

http://wordpress.org/extend/plugins/wp-pagenavi/
*/

/*Pagenation**/
.wp-pagenavi a,
.wp-pagenavi span {
	font-size: 1.6rem;
	font-weight: 400;
	color: #707070;
	border: solid 1px #707070;
	list-style: none;
	padding: 8px 15px;
	margin: 0 2px;
}

.wp-pagenavi a:hover,
.wp-pagenavi span.current {
	color: #FFF;
	background-color: #3C2B1C;
	border-color: #3C2B1C;
}

.pages,
.nextpostslink {
	border: none;
}



@media screen and (min-width: 560px) {
	.wp-pagenavi {
		max-width: 55rem;
		margin: 6rem auto;
	}

	.wp-pagenavi>p {
		display: inherit;
	}

	.wp-pagenavi>a {
		display: none;
	}

	.wp-pagenavi>ul {
		display: contents;
	}
}