//Tophead

.p-maintop {
    height: 230px;
    background-image: url("/..images/tophead_full.png");
    background-size: cover;
    background-attachment: scroll;


    &__wrapper {
        height: 230px;
        display: block;
        margin-top: -1rem;

        >p {
            line-height: 230px;
            color: #fff;
            position: relative;
            margin: auto 0;
            margin-left: 25px;
            font-size: 3.6rem;
            font-family: "M+1";
            font-weight: bold;
        }

        .lower-p {
            line-height: 3rem;
            padding-top: 100px;

            >small {
                font-size: 1.6rem;
            }
        }

    }

    @media screen and(min-width:560px) {
        height: 280px;

        &__wrapper {
            height: 280px;
            margin-top: -1rem;

            p {
                display: none;
            }
        }
    }

    @media screen and(min-width:960px) {
        height: 50rem;

        &__wrapper {
            height: 50rem;
            margin-top: -1rem;

            >p {
                line-height: 50rem;
                display: inherit;
                font-size: 4rem;
                margin: auto 0;
                margin-left: 86px;
            }
        }
    }
}