.p-single {
    background-color: #fff;

    &__wrapper {
        margin: 0 2rem;
    }

    &__intro {

        >h1 {
            color: #3C2A10;
            font-size: 2.8rem;
            font-family: "M+1";
            font-weight: bold;
        }

        >h2 {
            font-size: 2.8rem;
            padding-top: 3rem;
        }

        >h3 {
            font-size: 2.4rem;
            padding-top: 3rem;
        }

        >h4,
        >h5,
        >h6 {
            font-size: 2rem;
            padding-top: 3rem;
        }

        >p {
            font-size: 1.6rem;
            padding-top: 3rem;
        }
    }

    &__brockquote {
        margin-top: 3rem;
        background-color: #F5F5F5;
        padding: 3rem 2rem;
        font-size: 1.6rem;
        font-weight: 400;

        .inner {
            margin-top: 6rem;

            >a {
                position: relative;
                padding-left: 6rem;
                margin: 6rem 0;
            }

            >a::before {
                content: "出典元：";
                color: #3C2A10;
                font-size: 1.6rem;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 100;
            }
        }


        >figcaption {
            white-space: nowrap;
        }
    }

    .bold {
        font-weight: bold;
    }

    @media screen and(min-width:560px) {
        &__wrapper {
            margin: 6rem 10rem;
        }
    }
}

.wp-block-quote {
    margin-top: 3rem;
    background-color: #F5F5F5;
    padding: 3rem 2rem;
    font-size: 1.6rem;
    font-weight: 400;


    >p {
        padding: 5rem 5rem 10rem 5rem;
    }

    >cite {
        >a {
            position: relative;
            padding-left: 6rem;
        }

        >a::before {
            content: "出典元：";
            color: #3C2A10;
            font-size: 1.6rem;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 100;
        }
    }

}