/*Card**/

.c-card {

    &__wrapper {
        min-width: 33rem;
        margin: 2rem;
        display: grid;

        .c-card__imgbox {

            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: left;
            }
        }

        .c-card__inner {
            background-color: #3C2B1C;
            color: #fff;
            font-family: "M+1";
            font-weight: bold;
            padding-left: 1.7rem;

            >h2 {
                font-size: 2rem;
                padding-top: 3rem;
            }

            >h3 {
                font-size: 1.6rem;
                padding-top: 2.5rem;
            }

            >p {
                font-size: 1.6rem;
                font-weight: 400;
                padding: 1rem 7rem 0 0;
            }

        }

        .button-area {
            height: 5rem;
            margin: 4rem auto;
            text-align: center;

            >button {
                width: 16.5rem;
                height: 4.5rem;
                background-color: #fff;
                border-radius: 2rem;
                font-size: 1.6rem;
                color: #707070;
            }
        }

        @media screen and(min-width:560px) {
            display: flex;

            .c-card__imgbox {
                width: calc(100% / 2);
            }

            .c-card__inner {
                width: calc(100% / 2);

                >p {
                    padding: 1rem 5rem 0 0;
                }
            }
        }

        @media screen and (min-width:960px) {
            .c-card__inner {
                padding-left: 6rem;

                >h2 {
                    font-size: 3rem;
                    padding-top: 5rem;
                }

                >h3 {
                    font-size: 2.4rem;
                    padding-top: 4rem;
                }

                >p {
                    font-size: 1.6rem;
                    font-weight: 200;
                    padding-top: 2rem;
                }
            }

            .button-area {
                height: 8rem;
                margin: 6rem auto;
                padding-right: 6rem;

                >button {
                    width: 29rem;
                    height: 7.6rem;
                    border-radius: 10rem;
                }
            }
        }
    }

}