/*img-container**/
.c-imgcontainer {
    min-width: 33rem;
    margin-top: 6rem;

    >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__wrapper {
        min-width: 33rem;
        display: flex;
        align-items: flex-start;

        .c-imgcontainer__imgbox {

            >img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .c-imgcontainer__inner {
            color: #3C2A10;
            font-family: "M+1";
            font-weight: bold;
            padding-left: 1.7rem;

            >p {
                font-size: 1.6rem;
                font-weight: 400;
            }

        }
    }

    .reverse {
        flex-direction: row-reverse;
    }

    &__imgcenter {
        margin: 3rem auto;

        >img {
            max-width: 26rem;
            height: 100%;
            object-fit: cover;
            display: block;
            margin: auto;
        }
    }

    &__imglist {
        min-width: 33rem;
        display: grid;
        margin: 0 auto;
        gap: 2rem;

        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    @media screen and(min-width:560px) {

        &__imgcenter {
            margin: 6rem auto;

            >img {
                max-width: 58rem;
                height: 100%;
            }
        }

        &__imglist {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media screen and(min-width:960px) {
        &__imglist {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

@media screen and(min-width: 600px) {
    html .wp-block-media-text {
        display: flex !important;
    }
}