.u-list {
    font-size: 1.6rem;
    font-family: "M+1";
    font-weight: 400;
    padding-left: 2rem;


    &__1 {
        list-style-type: decimal;
        margin: 3rem 0;

        >ul {
            list-style-type: decimal;
            margin: 2rem 0;
        }
    }

    &__2 {
        list-style: none;
        margin: 3rem 0;

        >ul {
            list-style: none;
            margin: 2rem 0;
        }
    }

    &__lower {
        padding-left: 1rem;
    }

}