/*Pagenation**/

.wp-pagenavi {
    display: flex;
    justify-content: space-between;
    margin: 3rem 1rem;

    a,
    span {
        font-size: 1.6rem;
        font-weight: 400;
        color: #707070;
        border: solid 1px #707070;
        list-style: none;
        line-height: 35px;
        padding: 0 12px;
        margin: 0 10px;
    }

    a:hover,
    span.current {
        color: #FFF;
        background-color: #3C2B1C;
        border-color: #3C2B1C;
    }
}

a.nextpostslink,
a.previouspostslink {
    border: none;
}

a.page,
span.current,
span.pages {
    display: none;
}

@media screen and (min-width: 560px) {
    .wp-pagenavi {
        display: flex;
        justify-content: center;
        margin: 10rem 2rem 3rem 2rem;

        a,
        span {
            font-size: 1.6rem;
            font-weight: 400;
            color: #707070;
            border: solid 1px #707070;
            list-style: none;
        }

        a:hover,
        span.current {
            color: #FFF;
            background-color: #3C2B1C;
            border-color: #3C2B1C;
        }

        .current,
        .larger,
        .smaller {
            height: 35px;
            width: 35px;
            margin: 0 10px
        }
    }


    a.page,
    span.current,
    span.pages {
        display: inherit;
    }

    span.pages,
    a.nextpostslink,
    a.previouspostslink {
        border: none;
    }
}

@media screen and(min-width:960px) {
    .wp-pagenavi {
        margin: 15rem 2rem 6rem 2rem;
    }
}