/*table area**/

.u-table {
    border-collapse: collapse;
    margin-top: 3rem;

    >tbody {

        >tr {

            >th {
                height: 7rem;
                width: calc(100vw / 3)*1;
                border: solid 1px #707070;
                font-size: 1.6rem;
                font-weight: 400;
            }

            >td {
                width: calc(100vw / 3)*2;
                border: solid 1px #707070;
                font-size: 1.6rem;
                font-weight: 400;
                padding-left: 2rem;
            }
        }
    }

}